<div class='users-container'>
  <%= render 'user', user: @user %>
  <div class='bio-container'>
    <h4>Bio</h4>
    <%= @user.bio %>
  </div>
  <%= render partial: 'posts/new_post', user: @user.id %>
  <div class='recent-posts'>
    <% @posts.each do |post| %>
      <%=link_to user_post_path(@user.id, post.id) do%>
        <%= render 'posts/post_preview', post: post %>
      <% end %>
    <% end %>
  </div>
  <button class='all-posts'><%= link_to "See all posts", user_posts_path(@user.id) %></button>
</div>
