<div class='post-form-container'>
  <%= form_with url: user_posts_path(@current_user.id), scope: :post, class: 'post-form' do |f| %>
    <div>
      <%= f.label :title, 'Title: ', class: 'post-title-label' %>
      <%= f.text_field :title, placeholder: 'Enter the post title', required: true, class: 'post-title-input' %>
    </div>
    <div>
      <%= f.label :text, 'Text: ', class: 'post-text-label' %>
      <%= f.text_field  :text, placeholder: 'Enter text for the post', required: true, class: 'post-text-input' %>
    </div>

    <%= f.hidden_field :comments_counter, value: 0 %>
    <%= f.hidden_field :likes_counter, value: 0 %>
    <%= f.hidden_field :author_id, value: @current_user.id %>
      
    <%= f.submit "Publish", class: 'post-submit' %>
  <% end %>
</div>